/*********************************************************************/
/**** ***********  2004 Progetti di Impresa Srl  *********************/
/* ****************************************************************** */

/*********************************************************************/
/**** CONFIGURAZIONE GENERALE ****************************/
/* ****************************************************************** */




HTML, BODY {
	margin: 0px 0px 0px 0px; font-size : 120%;
}

TABLE, TD, TH,DIV, INPUT,TEXTAREA, TEXTAREA, SELECT,OL,UL,P,ALIGN{

}

P{
margin: 1px 5px 1px 5px;
}


IMG { border:none; }

#boxForum
{
    font-size:0.90em!important;
}

